body {
	padding-top: 60px;
}

h3 {
	margin-top: 15px;
	margin-bottom: 5px;
}

hr {
	margin-top: 15px;
	margin-bottom: 5px;
}


/*Navbar*/

@media (max-width: 768px) {
	.navbar-fixed-top {
		position: static;
		right: 0;
		left: 0;
		border-width: 0 0 1px;	
	}

	body {
		padding-top: 0px;
	}
}

.navbar-default {
	background-color: black;
}

.navbar-default .navbar-nav > li > a {
  color: white; 
}

.navbar-default .navbar-header > a {
  color: white;
}

.navbar-brand {
	font-family: Lato;
	letter-spacing: 5px;
}

.pull-right, .pull-left {
	margin: 0px;
	margin-top: 7px;
}

.form-control {
	margin: 0px;
	margin-top: 0px;
	margin-left: 0px;
	float:none;
	padding: 0px;
}

/* Users */

.jumbotron {
  padding: 10px;
  margin-bottom: 10px;
  color: inherit;
  background-color: #eee;
  border-radius: 0px;
}

.jumbotron > .row > .col-md-5 > p {
	font-size: 20px;
}

/* Add New Posts */
.row-post {
	margin: 0px;
	margin-bottom: 25px;
	padding: 0px;
	border-radius: 5px;
}

.row-post > .col-md-2 > h3 {
	margin-top: 0px;
}

#add-new-post {
	margin-bottom: 50px;
}


/* Posts Styling */

#index-posts {
}

.post-container {
	margin-top: 0px;
	margin: 0 auto;
	max-width: 800px;
	margin-bottom: 0px;

	background-color: white;
	border-radius: 3px;
}

.post-image img {
	width: 100%;
}

.post-links {
	width: 100%;	
	padding: 0px;
	font-size: 12px;
	border-style: solid;
    border-width: 0px;
    display: inline-block;
}

.post-links > .col-sm-12 > ul > strong {
	margin-right: 10px;
}

@media (max-width: 768px) {
	.post-links > .col-sm-12 > ul > strong {
		display: none;
	}
}

.post-links > .col-sm-12 > ul {
	padding: 0px;
	font-size: 14px;
	margin: 0px;
}

.post-body {
	width: 100%;
	font-size: 12px;
	float: left;
	padding: 5px;
	margin: 0px;
}

@media (max-width: 768px) {
	.post-body > .pull-left > h3 {
		font-size: 14px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

@media (max-width: 768px) {
	.post-body > .pull-right > h3 {
		font-size: 14px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

.post-image .hover { 
    position: absolute;
    z-index: 2;
}

.form-control {
	margin-bottom: 5px;
}

.post-container > ul {
	margin-bottom: 0px;
}

@media (max-width: 768px) {
	.post-container > ul {
		display: none;
	}
}


/* Main */

/* Sidebar */
.sidebar {
	border-left: 1px solid;
	height: 100%;
}


/* Footer */

.pagination {
	margin: 0 auto;
	max-width: 800px;
	display: block;
}